@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Serif&family=Inconsolata&display=swap");
body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.profile {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #37c6ff;
}

#username {
  position: relative;
  left: 47%;
  transform: translateX(-50%);
  background-color: #37c6ff;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  top: 8.7%;
  height: 2.46rem;
}

#submit {
  position: relative;
  left: 10%;
  transform: translateX(-50%);
  background-color: #37c6ff;
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  height: 3.2vh;
  top: 8.9%;
}

#enter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  top: 8.7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
